/* Local style */


/* First import everything from Invenio to generate a real diff here */
@import url("invenio.css");
/* Load jquery-ui here to be able to overwrite it later on.
JS functionality _REQUIRES_ this css to be loaded!
DO NOT REMOVE */
@import url("jquery-ui.css");

/* Styling submitmasks, allow adoption of jquery */
@import url("submit_desy.css");
/* Styling submitmasks, allow adoption of jquery */
/* @import url("submit_desy_test.css"); */

/* From DESY ZMS Styles */

a:focus, a:active, a:hover, a.navtrail:hover {
    color: #FD930A;
}

a, a.navtrail {
    color: #261748;
    text-decoration: none;
}

/* END From DESY ZMS Styles */




body {

    font-family: Arial,Helvetica,sans-serif;
    font-size: 100%%;

    background: white;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;



    margin-bottom: 20px;
}

h1 {

    color: #261748;
    font-weight: normal;
    font-size: 38px;
}

div.pagebodystripemiddle {

    padding: 10px;

}


p,
div.pagebodystripemiddle ul,
div.pagebodystripemiddle a{

    line-height: 20px;
}

th { font-weight: normal; }

a:link, a:visited { color: #261748;  }
a:hover { color: #FD930A; }

.home .searchbox {

    margin: 0;

    /*width: 100%;*/
}

.simplesearchfield {

    width: 400px;
    height: 30px;
    font-size: 20px;


}


/* .headerlogo { height: 260px; } */

.headerbox {

    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    background-color: white;
}


.home .headerboxbodylogo {

    height: 104px;
}

.home .headerboxbodylogo a,
.home .headerboxbodylogo a:visited {

    font-size: 0px;
    padding: 0 !important;

    width: 100%;
    height: 100%;

    dispay: block;

    background: no-repeat url('desy-resource/header-xfel2.png');
    margin-bottom: -5px;
    margin-left: 0px;


}




.desy_area_navigation { float: left;  }

/* Breadcrubms == Navtrail */

.portalboxbody {
    line-height: 17px;
}

.pagefooter {


    width: 967px;
    margin: 0 auto;

    border: none;

}

.pagefooterstripeleft {
    color: #666;
    margin-top: 10px;
    padding-right: 10px;
    background: transparent
    no-repeat
    top left
    /* url("/img/logo_helmholtz_eng.gif"); */
    font-size: x-small;
    width: 98%;
    height: 100px;
    float: left;
    text-align: right;
}
.pagefooterstriperight {
    color: #666;
    margin-top: 5px;
    margin-right: 10px;
    background: transparent;
    width: 48%;
    height: 100px;
    float: right;
    font-size: 11px;
    text-align: right;
}
a.pagefooterstriperight{
    color: #666;
}
a.footer:link {
    color: #666;
    background: transparent;
    text-decoration: none;
}
a.footer:visited {
    color: #666;
    background: transparent;
}
a.footer:active {
    color: #666;
    background: transparent;
}
a.footer:hover {
    color: #666;
    text-decoration: underline;
    background: transparent;
}

/* Language info */
a.langinfo:link {
    color: #666;
    text-decoration: none;
    background: transparent;
}
a.langinfo:visited {
    color: #666;
    background: transparent;
}
a.langinfo:active {
    color: #666;
    background: transparent;
}
a.langinfo:hover {
    color: #666;
    text-decoration: underline;
    background: transparent;
}

/* Menues */
.menu .headermoduleboxbody .hassubmenu a {
    background-image: none;
    line-height: 30px;
}

.menu .headermoduleboxbody .hassubmenu a.header:hover {
    background-image: none;
    line-height: 30px;
}

a.header:link {
    line-height: 30px;
    color: #fff;
    background: #fd930a;
    text-transform: uppercase;
    line-height: 100%;
    vertical-align: baseline;
    font-size: 95%;
    text-decoration: none;
    font-weight: normal;
}
a.header:visited {
    line-height: 30px;
    color: #fff;
    background: #fd930a;
}
a.header:hover {
    line-height: 30px;
    color: #fff;
    background: #fd930a;
}


.userinfoboxbody {

    padding: 10px 15px 0px 15px;;

}

.userinfoboxbody img {

    display: none !important;
}


a.headerselected {

    display: block;
    weight: 100%;
    height: 30px;
    line-height: 30px;


    /*background-color: rgba(255,255,255,0.3);*/
    text-decoration: none;
    font-weight: normal;
    color: white;
    background: #fd930a;

}
/*a.headerselected:visited {

color: white;
}
a.headerselected:hover {
color: white;
}*/

.headermoduleboxbodyselected,
.headermoduleboxbody {

    margin: 0;
    padding: 0;
    background: none;
    border: none;
    line-height: 30px;

    font-weight: bold;
    text-align: center;

    background: #fd930a;
    color: #fff;


    text-align: center;
}

.headermoduleboxbody:hover {
    line-height: 30px;
    font-weight: bold;
}


tr.menu td:nth-child(3) { border-left: 11px solid white; border-right: 5px solid white; }
tr.menu td:nth-child(5) { border-right: 5px solid white }
tr.menu td:nth-child(7) { border-right: 5px solid white }
tr.menu td:nth-child(9) { border-right: 10px solid white }


tr.menu td a.headerselected,
tr.menu td a.header {

    padding: 0;
    margin: 0;
    font-size: 14px;
    text-transform: none;
    display: block;
    weight: 100%;

    text-decoration: none;
    font-weight: normal;
    color: white;
    line-height: 30px;
}

tr.menu td a.headerselected {
    font-weight: bold;
}


.headermoduleboxbodyselected {


}

.menu .hassubmenu {
    position: static;
}


.headermoduleboxbodyselected:hover {

    /*color: #fff;*/
    /*background: #fd930a;*/

}

.headermoduleboxbodyblank {

    display: none;
}
.headermoduleboxbodyblanklast {

    display: none;
}





/* Detailed Records */

.detailedrecordtabs li a {
    background-image: none;
    height: auto
}

.detailedrecordminipanel li a {
    background-image: none;
}

.detailedrecordminipanel a:link {
    background-image: none;
}

.detailedrecordminipanelreview {
    width: 180px !important;
}



.abstract{
    font-size: 85%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: justify;
}

.refandconf{
    /*  padding-top: 0.5em; */
    /*  padding-bottom: 0.5em; */
}

.fulltext{
    font-size: 85%;
    /*  padding-left: 1.5em; */
    /*  padding-right: 1.5em; */
}

/*

/*
Make the warnings more prominent, but the leave the head of entries unchanged
*/
.typhead .quicknote{
    font-size: 85%;
    font-weight: normal;
    color: #666;
}

small.quicknote{
    font-size: 85%;
    font-weight: normal;
    color: #666;
}


.quicknote{
    font-size: 120%;
    font-weight: bold;
    color: red;
}

.typelist{
    font-size: 85%;
}

.journalref{
    display:inline-block;
    /*  padding-top: 0.5em; */
    /*  padding-bottom: 0.5em; */
}

.confinfo{
    display:inline-block;
    font-size: 100%;
    font-style:italic;
}

div.moreinfo{
    padding-bottom: 1em;
}

/* Make the Openurl link to FATER smaller */
.linkresicon {
    height:1em;
    border:none;
    vertical-align: text-bottom;
}


div.pageheader {

    width: 967px;
    margin: 0 auto;
}


tr.menu {

    z-index: -10000;


}

div.pagebody {

    width: 947px;
    margin: 0 auto;
    border: 0;
    padding: 5px;
    margin-top: 30px;

    -webkit-box-shadow: 0px 0px 8px 2px rgba(230,230,230,1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(230,230,230,1);
    box-shadow: 0px 0px 8px 2px rgba(230,230,230,1);

    /*background-color: #eee;*/
}


.desy_pubdb_headline_txt {
    width: 622px;
    float: left;
    background-color: #261748;
    height: 78px;
    margin-left: 10px;
}
.desy_pubdb_headline_txt h1 { color: #f8f8f8; }
.desy_pubdb_headline_txt span {
    font-size: 14px;
    color: #f8f8f8;
    margin-left: 10px;
}

.menu ul.subsubmenu { top: 1.5em; left: -0.4em; /* list-style-image: url('https://pr.desy.de/++resource++desy/images/internal_link.gif') ;*//* list-style-position: inside;*/ }
.menu ul.subsubmenu li {
    border-bottom: 1px dotted #333333;
    border-left: 1px dotted #333333;
    border-right: 1px dotted #333333;
    width: 150px;
    background: #f8f8f8 url('https://pr.desy.de/++resource++desy/images/internal_link.gif') no-repeat 10px 16px ! important;
    padding: 13px;
}
.menu ul.subsubmenu li a, .menu div ul.subsubmenu li a:visited { color: #696969; font-weight: bold; font-size: 11px; }
.menu div ul.subsubmenu li a:hover { color: #FD930A; }

.menu ul.subsubmenu li a:before {
    content: "m";
    color: transparent;
}

.pagebodystriperight { width: 160px; margin-right: 12px;  }
.portalbox { border: 1px dotted #333; font-size: 1em; padding: 10px; }
.portalboxheader { color: #696969; background: #f8f8f8; border: none;  }

.formbutton { color: #333; background: #f8f8f8; font-weight: normal;  }

a.userinfo:link, a.userinfo:visited
{ color: #261748; font-weight: normal; }

.userinfoboxbody {
    color: #261748;
}

a.footer:link, a.footer:visited { font-weight: normal;  }

a.navtrail:link, a.navtrail:visited { font-weight: normal; color: #696969; font-size:11px;  }
.navtrailboxbody { color: #696969; font-size:11px; padding: 0px 0px 0px 20px;}

.searchresultsbox { border: 1px dotted #333;  }
.searchresultsboxheader { background: #f8f8f8;  }

a.refauthor { font-weight: normal; }
a.note { font-weight: normal; }
a.note>img { margin: 0 2px 0 6px;  }

a.moreinfo:link, a.moreinfo:visited { color: #666;  }

.googlebox { border-top: 1px dotted #333; }
.googleboxheader { background: #f8f8f8;  }

.externalcollectionsbox { border-top: 1px dotted #333; }
.externalcollectionsboxheader  { background: #f8f8f8;  }

.recordlastmodifiedbox { color: #FD930A; }

.youraccountbox { border-top: 1px dotted #333; }
.youraccountheader { background:#f8f8f8; }

.headline { font-size: 20px; font-family: Arial, Helvetica, sans-serif; color: #261748; margin-left: 0; }

.inboxheader { border-top: 1px dotted #333; border-bottom: 1px dotted #333;  }
.mailboxheader tr { background: #f0f0f0; }
.mailboxrecord td { border-top: 0px}
.mailboxbody { background: #f8f8f8; }
.mailboxfooter td { border-top: 1px dotted #333; }
.quotabox { border: 1px dotted #333; background: #f8f8f8; }

/* in topbanner of details page, we express the ID as link. Style this
* to look like normal boldface text as in invenio default.
*/

table.narrowandfocusonsearchbox {

    margin-top: 20px;
    width: 100%;


}
table.narrowandfocusonsearchbox table,
.focusonsearchbox,
.narrowsearchbox {
    margin: 0px;
    background-color: #f7f7f7;
    padding: 10px;
    border-collapse:  separate;
    width: 100%;
    border-bottom: 10px solid white;
}

table.narrowandfocusonsearchbox .searchalsosearchbox {
    border-bottom: none;
}

.narrowandfocusonsearchbox > tbody > tr > td {
    border-right: 10px solid white;
}


.focusonsearchboxheader,
.narrowsearchboxheader {

    font-size: 24px;
}


a.persistentlink {

    color: black;
    font-weight: bold;
}

table.narrowandfocusonsearchbox > tbody > tr >  td {

    width: 50%;
}

.narrowandfocusonsearchbox td td {
    padding-top: 20px;
}
